<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <span class="navbar-brand">Verifica GreenPass
    </span>
  </div>
</nav>

<div class="container mt-2">
  <zxing-scanner *ngIf="scanActive && !error" (scanComplete)="scan($event)"></zxing-scanner>
  <div class="alert" [ngClass]="{
    'alert-success': resultData.result,
    'alert-danger': !resultData.result
  }" *ngIf="resultData" >
    {{resultData.message}}
  </div>

  <div class="w-100 text-center mt-2"  *ngIf="loading">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only"></span>
    </div>
  </div>

  <div class="alert" [ngClass]="{
    'alert-success': resultData.result,
    'alert-danger': !resultData.result
  }" *ngIf="resultData">
    <span>Nome: <b>{{resultData._payload.nam.gn}}</b></span><br>
    <span>Cognome: <b>{{resultData._payload.nam.fn}}</b></span><br>
    <span>Data di nascita: <b>{{resultData._payload.dob | date: 'dd-MM-yyyy'}}</b></span>
    <hr/>
    <div *ngIf="resultData._payload.v">
      <h2>Vaccino</h2>
      <span>Dose: <b>{{resultData._payload.v[0].dn}}</b> di <b>{{resultData._payload.v[0].sd}}</b></span><br>
      <span>Titolare dell'autorizzazione all'immissione in commercio: <b>{{gpService.getVaccineManf(resultData._payload.v[0].ma)}}</b></span><br>
      <span>Vaccino o profilassi: <b>{{gpService.getVaccineProphylaxis(resultData._payload.v[0].vp)}}</b></span><br>
      <span>Data vaccinazione: <b>{{resultData._payload.v[0].dt | date: 'dd-MM-yyyy'}}</b></span><br>
      <span>Paese di vaccinazione: <b>{{gpService.getCountry(resultData._payload.v[0].co)}}</b></span><br>
      <span>Identificativo unico certificato: <b>{{resultData._payload.v[0].ci}}</b></span><br>
      <span>Medicinale vaccino: <b>{{gpService.getVaccineMedicinalProduct(resultData._payload.v[0].mp)}}</b></span><br>
      <span>Emittente del certificato: <b>{{resultData._payload.v[0].is}}</b></span><br>
      <span>Malattia o agente mirato: <b>{{resultData._payload.v[0].tg}}</b></span><br>
      <span>Versione schema: <b>{{resultData._payload.ver}}</b></span>
    </div>

    <div *ngIf="resultData._payload.r">
      <h2>Guarigione</h2>
      <span>Guarito da: <b>{{gpService.getDiseaseAgent(resultData._payload.r[0].tg)}}</b></span><br>
      <span>Data positivizzazione: <b>{{resultData._payload.r[0].fr | date: 'dd-MM-yyyy'}}</b></span><br>
      <span>Paese emissione: <b>{{gpService.getCountry(resultData._payload.r[0].co)}}</b></span><br>
      <span>Emittente del certificato: <b>{{resultData._payload.r[0].is}}</b></span><br>
      <span>Certificato valido dal <b>{{resultData._payload.r[0].df | date: 'dd-MM-yyyy'}}</b>
        al <b>{{resultData._payload.r[0].du | date: 'dd-MM-yyyy'}}</b></span><br>
      <span>ID certificato: <b>{{resultData._payload.r[0].ci}}</b></span><br>
    </div>

    <div *ngIf="resultData._payload.t">
      <h2>Test</h2>
      <span>Agente ricercato: <b>{{gpService.getDiseaseAgent(resultData._payload.t[0].tg)}}</b></span><br>
      <span>Tipo di test: <b>{{gpService.getTestType(resultData._payload.t[0].tt)}}</b></span><br>
      <span>Nome test: <b>{{resultData._payload.t[0].nm}}</b></span><br>
      <span>ID test: <b>{{resultData._payload.t[0].ma}}</b></span><br>
      <span>Data prelievo: <b>{{resultData._payload.t[0].sc | date: 'dd/MM/yyyy HH:mm'}}</b></span><br>
      <span>Risultato: <b>{{gpService.getTestResult(resultData._payload.t[0].tr)}}</b></span><br>
      <span>Esecutore: <b>{{resultData._payload.t[0].tc}}</b></span><br>
      <span>Paese emissione: <b>{{gpService.getCountry(resultData._payload.t[0].co)}}</b></span><br>
      <span>Emittente del certificato: <b>{{resultData._payload.t[0].is}}</b></span><br>
      <span>ID certificato: <b>{{resultData._payload.t[0].ci}}</b></span>
    </div>

  </div>

  <button type="button" class="btn btn-warning w-100 btn-lg" (click)="reset()" *ngIf="(!scanActive || error) && !loading">Ripeti scansione</button>

</div>

<div class="w-100 p-4 text-center bg-light">
  <p class="h4"><b>Esercizio didattico</b></p>
  <span>Libreria node: <a class="h6" href="https://github.com/ministero-salute/dcc-utils"><b>DCC-UTILS (Ministero della Salute)</b></a></span><br>
  <span>contributo di <a href="https://github.com/elgorditosalsero">elgoritosalsero</a></span><br><br>
  <span class="text-muted"><b>Alessandro Nestola</b></span><br>
  <a href="http://github.com/alexucgit" class="text-primary">GitHub</a> | <a href="https://www.linkedin.com/in/alessandronestola/" class="text-primary">LinkedIn</a> | <a href="https://www.facebook.com/ale.nestola" class="text-primary">FB</a>
  <hr/>
  <p class="text-center">Questo progetto è open source ❤️<br><a href="https://github.com/alexucgit/greenpass-reader">Github Repo</a>️&nbsp;<a href="https://github.com/alexucgit"> <img alt="GitHub followers" src="https://img.shields.io/github/followers/alexucgit?style=social">
  </a>
  </p></div>

